{% extends "@layout/main.html.twig" %}

{% block title %}Indexs{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card ibox float-e-margins box-shadow">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                                   placeholder="{{ t('Search') }}">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <div class="col-xs-12 col-md-12 col-lg-1 pull-right text-center">
                                <a href="#" class="block" data-form data-title="Create User" data-form-url="{{ cipher('user/create') }}">
                                    <i class="fa fa-plus-circle text-default bigger-180"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-filter=#filter>
                        <thead>
                        <tr>

                            <th class="col-xs-4" data-toggle="true">{{ t('Name') }}</th>
                            <th class="col-xs-1">{{ t('Active') }}</th>
                            <th class="col-xs-2">{{ t('Last Visit') }}</th>
                            <th class="col-xs-4">{{ t('Roles') }}</th>
                            <th class="col-xs-1 text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ user.isActive ? t('Yes') : t('No') }}</td>
                                <td>{{ user.getLastVisitDatetime().format('D, d M Y') }}</td>
                                <td>
                                    {% for role in user.getRoles() %}
                                        {{ role.getName() }}{{ loop.last ? '' : ', ' }}
                                    {% endfor %}
                                </td>
                                <td class="col-xs-1 text-center">
                                    <a class="" href="#" data-form data-title="Edit User"
                                       data-form-url="{{ cipher('user/edit/' ~ user.id) }}">
                                        <i class="bigger-120 fa fa-pencil-square-o  text-navy"></i>
                                    </a>
                                    <a style="margin-left: 10px" class="" href="#" data-delete data-title="Delete User"
                                       data-form-url="{{ cipher('user/delete/' ~ user.id) }}">
                                        <i class="bigger-120 fa fa-trash-o  text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

