{% extends "@layout/main.html.twig" %}

{% block title %}Indexs{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
{% endblock %}


