{{ assets({files: [
    '@build/js/toastr.min.js',
    '@build/js/switchery.js',
    '@build/js/pace.min.js',
    '@build/js/flatpickr.js',
    '@build/js/chosen.js',
    '@build/js/metis-menu.js',
    '@build/js/switchery.js',
    '@build/js/moment.min.js',
    '@build/js/sweet-alert.min.js',
    '@build/js/icheck.min.js',
    '@build/js/sweet-alert.min.js',
    '@build/js/footable.all.min.js',
    '@build/js/crypto.min.js',
    '@build/js/vemid/Vemid.base.js',
    '@build/js/vemid/Vemid.language.js',
    '@build/js/vemid/Vemid.messages.js',
    '@build/js/vemid/Vemid.validation.js',
    '@build/js/vemid/Vemid.form.js',
    '@build/js/vemid/Vemid.datetime.js',
    '@build/js/vemid/Vemid.misc.js',
    '@build/js/vemid/Vemid.uploader.js',
    '@build/js/vemid/Vemid.notification.js',
    '@build/js/vemid/bootstrap.js',
], name: 'foot.js'})
}}